* {
	/* `otf-font-awesome is required to be installed for icons */
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
}

/* Variablen
	--color-primary: #5b5b5b;
	--color-secondary: #ff0d9b;
	--color-white: #ffffff;
	--color-black: #000000;	
*/

window#waybar {
	background-color: rgba(43, 48, 59, 0.5);
	border-bottom: 3px solid rgba(100, 114, 125, 0.5);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
	background-color: transparent;
}
window#waybar.solo {
	background-color: #ffffff;
}
*/

window#waybar.termite {
	background-color: #3F3F3F;
}

window#waybar.chromium {
	background-color: #000000;
	border: none;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
	background-color: #ff0d9b;
	color: #5b5b5b
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: #ffffff;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}


#window,
#workspaces {
	margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#battery,
#custom-media,
#custom-power,
#clock,
#disk,
#keyboard-state,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#mpd {
	background-color: #5b5b5b;
	padding: 0 10px;
	color: #ff0d9b;
}

#battery:hover,
#bluetooth:hover,
#custom-media:hover,
#custom-power:hover,
#clock:hover,
#disk:hover,
#keyboard-state:hover,
#network:hover,
#pulseaudio:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#mpd:hover 
{
	background-color: #ff0d9b;
	color: #5b5b5b;
}

#battery.good{
	background-color: #26A65B;
	color: #ffffff;
}

#battery.warning{
	background-color: #e69138;
	color: #000000;
}

#battery.charging, #battery.plugged {
	background-color: #26A65B;
	color: #ffffff;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#bluetooth{
	background-color: #5b5b5b;
	padding: 0 10px;
	color: #ff0000;
}

#bluetooth:hover{
	background-color: #ff0d9b;
}

#bluetooth.connected {
	background-color: #0000ff;
	color: #ffffff;
}

#bluetooth.disconnected {
	background-color: #ff0000;
	color: #ffffff;
}

#bluetooth.off {
	color: #ff0000;
}

#bluetooth.on{
	color: #0000ff;
}

#hyprland-submap {
	background-color: #64727D;
	padding: 0 10px;
	color: #ffffff;
}

#power-profiles-daemon {
	padding: 0 10px;
}

label:focus {
	background-color: #000000;
}

#network{
	background-color: #5b5b5b;
	padding: 0 10px;
}

#network:hover{
	background-color: #ff0d9b;
}

#network.disconnected {
	background-color: #f53c3c;
	color: #ffffff;
}

#network.disabled {
	color: #ff0000;
}

#network.linked {
	color: #ff0000;
}

#network.ethernet {
	color: #0000ff;
}

#network.wifi {
	color: #0000ff;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#idle_inhibitor.activated {
	background-color: #ff0d9b;
	color: #5b5b5b;
}

#idle_inhibitor.activated:hover {
	background-color: #5b5b5b;
	color: #ff0d9b;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}

#privacy {
	padding: 0;
}

#privacy-item {
	padding: 0 5px;
	color: white;
}

#privacy-item.screenshare {
	background-color: #cf5700;
}

#privacy-item.audio-in {
	background-color: #1ca000;
}

#privacy-item.audio-out {
	background-color: #0069d4;
}
